@charset "utf-8";
/* CSS Document */
body{background-image:url(images/bg.png);
background-repeat:no-repeat;
background-size:cover;
background-color:#CCCCCC
}
a:link{color: #000033}
a:visited{color:#000033
}
a:hover {font-weight: bold;
text-decoration:none;
color: #FFFFFF}

h1{color: #FFFFFF;
text-align:center;}

h2{
color: #FFFF66}

table{
color: #000066;
font-size:20px;
}


